/*
.login {
    display: flex;
    align-items: center;
    justify-content: center;
  
    form {
      width: 360px;
      padding: 100px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      h1 {
        color: gray;
        margin-bottom: 20px;
      }
  
      label {
        color: gray;
        font-size: 18px;
      }
  
      input,
      textarea {
        padding: 20px;
        border: 1px solid rgb(216, 214, 214);
      }
  
      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #1dbf73;
        cursor: pointer;
      }
  
      span{
        color: red;
        font-size: 12px;
      }
    }
  }
  */


  //////////////
  /*
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    max-width: 90%;
    height: 400px;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
  }
  
  .modal-content h1 {
    color: gray;
    margin-bottom: 20px;
  }
  
  .modal-content label {
    color: gray;
    font-size: 18px;
  }
  
  .modal-content input,
  .modal-content textarea {
    padding: 20px;
    border: 1px solid rgb(216, 214, 214);
  }
  
  .modal-content button {
    border: none;
    padding: 20px;
    color: white;
    font-weight: 500;
   
  }

  .modal-content span {
    color: red;
    font-size: 12px;
  }*/
  
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  modal form {
    width: 400px;
    max-width: 90%;
    height: 400px;
    max-height: 90%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal h1 {
    color: gray;
    margin-bottom: 20px;
  }

  .modal label {
    color: gray;
    font-size: 18px;
  }

  .modal input,
  .modal textarea {
    padding: 10px;
    border: 1px solid rgb(216, 214, 214);
    margin-bottom: 10px;
  }

  .modal button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #1dbf73;
    cursor: pointer;
  }

  .modal .error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
  }


  